{% extends "layout.html" %}

{% block page_title %}
Index MPS
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Court receiver with prison and police ePERs
      </h1>

      <h2 class="heading-medium">Dashboard options</h2>

      <ul class="list list-bullet">
        <li><a href="/dashboard_receiver_court_police_01">WIP 01</a></li>
        <li><a href="/dashboard_receiver_court_police_02">WIP 02</a></li>
        <li><a href="/dashboard_receiver_court_police_03">WIP 03</a></li>
        <li><a href="/dashboard_receiver_court_police_04">Option 04</a></li>
        <li><a href="/dashboard_receiver_court_police_05">Option 05</a></li>
        <li><a href="/dashboard_receiver_court_police_06">Option 06</a></li>

      </ul>

    </div>
  </div>
</main>

{% endblock %}
